.calendar{
    display:grid ;
    grid-template-columns: repeat(7,1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows:20px repeat(5,50px);
}
.date{
    background-color: fuchsia;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day{
    background-color: rgb(153, 142, 153);
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foood{
    border: 1px solid rgb(213, 99, 17);
    padding: 10px;
    border-radius: 5px;
}
.conteanir{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.foood img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .conteanir{
        grid-template-columns: repeat(1,1fr);
    }
    
}